*
	box-sizing: border-box
i,em
	font-style: normal
b,strong
	font-weight: normal
border-1px($color)
	position: relative
	&:after
		content: " "
		position: absolute
		bottom: 0
		left: 0
		border-bottom: 1px solid $color
		width: 100%
border-none()
	&:after
		display: none
image($url)
	background-image: url($url + '@2x.png')
	@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
		background-image: url($url + '@3x.png')
classMap($size)
	&.decrease
		image('decrease' + $size)
	&.discount
		image('discount' + $size)
	&.special
		image('special' + $size)
	&.invoice
		image('invoice' + $size)
	&.guarantee
		image('guarantee' + $size)