$borderColor:#C9C7C8;
$headColor:#FAFAFA;
$btnColor:#ff5777;
$bgColor:#F6F6F6;
$couponGrayColor:#e8e8e8;
$couponRedColor:#ee4566;
$leftColor:#c4c4c4;
$leftHeadBorder:#d3d3d3;
$rightColor:#bbb;
$headerColor:#5e5e5e;
$ShopBg:#c3c3c3;
$borderLightColor:#e5e5e5;